/* .search {
  width: 400px;
  height: 24px;
  padding: 10px;
  margin: 5px;
  background-color: rgb(225, 225, 225);
  position: fixed;


} */

/* .countriesGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  min-height: 300px;
} */

/* .countryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  width: 200px;
} */

/* .flag {
  width: 100px;
  height: 100px;
} */
